*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#02091a,#063b2e);
    color:#fff;
}

.container{
    width:360px;
    background:#020d1f;
    padding:30px;
    border-radius:12px;
    box-shadow:0 20px 50px rgba(0,0,0,0.6);
}

.form{
    display:none;
}

.form.active{
    display:block;
}

h2{
    text-align:center;
    color:#1e90ff;
    margin-bottom:20px;
}

label{
    font-size:14px;
    color:#1e90ff;
}

input{
    width:100%;
    padding:10px;
    margin:8px 0 18px;
    background:transparent;
    border:none;
    border-bottom:1px solid #555;
    color:#fff;
    outline:none;
}

button{
    width:100%;
    padding:12px;
    background:#1e90ff;
    border:none;
    border-radius:25px;
    color:#fff;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    box-shadow:0 10px 25px rgba(30,144,255,0.7);
}

p{
    text-align:center;
    margin-top:15px;
    font-size:14px;
}

span{
    color:#00ff99;
    cursor:pointer;
}

.forgot{
    display:block;
    text-align:right;
    font-size:13px;
    color:#ffcc00;
    margin-bottom:15px;
    text-decoration:none;
}
